body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-image: url('./img/55bc8319-d691-4ee7-9b62-8b92a8d844fd_Blog_Digital+forms.avif'); /* Reemplaza 'your-image-url.jpg' con la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main div {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para el contenido */
    padding: 30px;
    border-radius: 8px;
}

